<!DOCTYPE html>




    <body>
    <nav>
        <ul>
            <li> <a href="/">Home </a></li>
            <li> <a href="/ben">Ben </a></li>
            <li> <a href="/tom">Tom </a></li>
            <li> <a href="/sam">Sam </a></li>
            <li> <a href="/heather">Heather </a></li>
            <li> <a href="/steve">Steve </a></li>
        </ul>
    </nav>